<div class="relative image-background min-h-screen flex items-center justify-center lg:justify-start">
  <p class="absolute top-0 left-0 p-4 text-3xl text-white font-extrabold">FletNix</p>
  <div class="card glass md:ml-20 w-full max-w-sm shrink-0 shadow-2xl">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="card-body">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Username</span>
        </label>
        <input formControlName="username" type="text" placeholder="Username" class="input input-bordered" required />
        <ng-container *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
          @if(registerForm.get('username')?.errors?.['required']) {
            <small class="text-error">Username is required</small>
          }
        </ng-container>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input formControlName="email" type="email" placeholder="Email" class="input input-bordered" required />
        <ng-container *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
          @if(registerForm.get('email')?.errors?.['required']) {
            <small class="text-error">Email is required</small>
          }
          @else {
            <small class="text-error">Invalid email address</small>
          }
        </ng-container>
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input formControlName="password" type="password" placeholder="Password" class="input input-bordered" required />
        <ng-container *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
          <small class="text-error">Password is required</small>
        </ng-container>
      </div>
      <div class="form-control mt-6">
        <button [disabled]="loading" class="btn btn-primary">Register
          @if(loading) {
            <span class="loading loading-spinner loading-md"></span>
          }
        </button>
      </div>
    </form>
  </div>
  <div class="hidden lg:block ml-20 text-white max-w-2xl text-right">

    <p class="text-5xl">
      <strong>Join now!</strong> You are missing out on dynamic and exciting entertainment recommendations
    </p>
  </div>
</div>
