<mat-dialog-content class="!max-h-full">
  <div class="flex items-center gap-4 mb-3">
    <button (click)="dialogRef.close()" class="btn btn-circle btn-ghost"><mat-icon>chevron_right</mat-icon></button>
    <mat-icon>{{data?.type === 'Movie' ? 'movie':'live_tv'}}</mat-icon>
    <p class="text-2xl">{{data?.title}}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="mt-4 mb-5">
    <p class="font-semibold">Overview</p>
    <p>{{data?.description}}</p>
  </div>
  <mat-divider></mat-divider>
  <div class="grid grid-cols-5 lg:gap-x-3 gap-y-5 mt-4">
    <div class="col-span-2">
      <p class="font-semibold">Director</p>
    </div>
    <div class="col-span-3">
      <p>{{data?.director | emptyText}}</p>
    </div>
    <div class="col-span-2">
      <p class="font-semibold">Casts</p>
    </div>
    <div class="col-span-3">
      <p>{{data?.cast | emptyText}}</p>
    </div>
    <div class="col-span-2">
      <p class="font-semibold">Rated</p>
    </div>
    <div class="col-span-3">
      <p>{{data?.rating | emptyText}}</p>
    </div>
    <div class="col-span-2">
      <p class="font-semibold">Genres</p>
    </div>
    <div class="col-span-3">
      <p>{{data?.listed_in | emptyText}}</p>
    </div>
    <div class="col-span-2">
      <p class="font-semibold">{{data?.type === 'Movie' ? 'Duration' : 'Seasons'}}</p>
    </div>
    <div class="col-span-3">
      <p>{{data?.duration | emptyText}}</p>
    </div>
    <div class="col-span-2">
      <p class="font-semibold">Country</p>
    </div>
    <div class="col-span-3">
      <p>{{data?.country | emptyText}}</p>
    </div>
    <div class="col-span-2">
      <p class="font-semibold">Release Date</p>
    </div>
    <div class="col-span-3">
      <p>{{data?.release_year | emptyText}}</p>
    </div>
  </div>

</mat-dialog-content>
