<div class="example-container">
  @if (isLoadingResults) {
    <div class="example-loading-shade">
      @if (isLoadingResults) {
        <mat-spinner></mat-spinner>
      }
    </div>
  }
  <div class="rounded-lg overflow-hidden">
    <div class="example-table-container">
      <table mat-table [dataSource]="data" class="example-table">
        <ng-container *ngFor="let single of displayedColumns">
          <ng-container [matColumnDef]="single">
            @if (single === 'action') {
              <th mat-header-cell *matHeaderCellDef>{{ single | snake2Sentence }}</th>
              <td mat-cell *matCellDef="let row">
                <button class="btn btn-sm btn-primary">View</button>
              </td>
            } @else {
              <th mat-header-cell *matHeaderCellDef>{{ single | snake2Sentence }}</th>
              @if (single === 'type') {
                <td class="cursor-pointer" mat-cell *matCellDef="let row">
                  @if (row?.[single] === 'Movie') {
                    <mat-icon class="text-teal-700" matTooltip="Movie">movie</mat-icon>
                  } @else {
                    <mat-icon class="text-yellow-600" matTooltip="TV Show">live_tv</mat-icon>
                  }
                </td>
              } @else {
                <td mat-cell *matCellDef="let row">{{ row?.[single] ?? "-" }}</td>
              }
            }
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="table-footer rounded-b-lg">
      <mat-paginator class="rounded-b-lg" [length]="resultsLength" [pageSize]="15"
                     aria-label="Select page for movies"></mat-paginator>
    </div>
  </div>
</div>
