/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: calc(100svh - 200px);
  overflow: auto;
}

table {
  .mat-mdc-table-sticky {
    background: #b8b8b8;
    opacity: 1;
    color: #222222 !important;
  }
  .mat-mdc-table-sticky-border-elem-top {
    border-bottom: 2px solid grey;
  }

  .mat-mdc-table-sticky-border-elem-right {
    border-left: 2px solid grey;
  }

  .mat-mdc-table-sticky-border-elem-bottom {
    border-top: 2px solid grey;
  }

  .mat-mdc-table-sticky-border-elem-left {
    border-right: 2px solid grey;
  }
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-footer mat-paginator {
  background: #b8b8b8;
}
