@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@include mat.core();
@tailwind base;
@tailwind components;
@tailwind utilities;

$dark-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$pink-palette),
    accent: mat.define-palette(mat.$blue-gray-palette),
  ),
  // Only include `typography` and `density` in the default dark theme.
  density: 0,
));

.darkMode {
  @include mat.all-component-colors($dark-theme);
}

.success-snackbar {
  --mdc-snackbar-container-color: #44a13e;
  --mdc-snackbar-supporting-text-color: white;
  --mat-mdc-snack-bar-button-color: white;
  white-space: pre-wrap;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}
.error-snackbar {
  --mdc-snackbar-container-color: #ec6f6f;
  --mdc-snackbar-supporting-text-color: white;
  --mat-mdc-snack-bar-button-color: white;
  white-space: pre-wrap;
  .mat-simple-snackbar-action {
    color: white !important;
  }
}
.side-panel {
  position: relative !important;
  animation: slideIn 300ms ease-in;
  width: 40%;
  max-width: 1000px !important;
  .mat-mdc-dialog-surface{
    border-radius: 12px 0 0 12px !important;
  }
}
@media (max-width:600px) {
  .side-panel {
    width: 90%;
    max-width: 1000px !important;
  }
}

@keyframes slideIn {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
